#main-nav {
  margin: 20px $side-width;
  float: right;

  a {
    display: inline-block;
    color: #333;
    text-decoration: none;
    margin-left: 30px;
    margin-top: 3px;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid #333;
    }
  }
}

nav a.upload:before { @include icon-background('upload.png'); }
nav a.photos:before { @include icon-background('slr-camera.png'); }
nav a.home:before { @include icon-background('home.png'); }
nav a.albums:before { @include icon-background('folder.png'); }
nav a.logout:before { @include icon-background('logout.png'); }
